<main>
    <section class="tarefas">

        {{#each tarefas}}

         <div class="tarefa">
            <form action="">
                 <div class="completa">
                 <input type="checkbox" id="tarefa-{{this.id}}"checked>
                 <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                </div>

                <div>
                 <input type="checkbox" id="tarefa-{{this.id}}" onchange="completarTarefa( {{this.id}})">
                 <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                </div>
                <button>
                    <img src="/imagens/X-icon.png" alt="icone de x para excluir uma tarefa">
                </button>
            </form>
        </div>

        {{/each}}

        <div class="informações">
            <p> {{quantidadeTarefasAtivas}} tarefas ativas</p>
            <a href="">Limpa tarefas</a>
            <div class="botoes">
                <a href="/" class="active" >todas</a>
                <a href="/ativas">ativas</a>
                <a href="/completas">completas</a>
            </div>

        </div>

    </section>

    <section class="botoes">
                <a href="/" class="active" >todas</a>
                <a href="/ativas">ativas</a>
                <a href="/completas">completas</a>
    </section>
</main>